.fig-menu{
    display:flex;
    flex-direction: row;
    max-width:50px;
    max-height: 21px;
    width: auto;
    height: auto;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}