*{
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    display:flex;
    background: rgb(230, 152, 9);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    grid-column: 1/-1;
    
}

button{
    width: 100px;
    height: 30px;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 156, 8);
    height: 60px;
    color: black;
    grid-column: 1/-1;
    
}

video{
    width: 400px;
}
.video-card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px green;
    text-align: center;
}

main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    column-gap:20px;
    margin: 20px;
    padding: 20px;
   
}

body{
    min-height: 100vh;
    display:grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 300px 1fr;
}
